# Database data
database/data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env
backend/tmp

# Node.js
node_modules/
.next/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo
.devcontainer/

# OS
.DS_Store
Thumbs.db
docs/lessons/**
reword_pl.backup
frontend/tsconfig.tsbuildinfo
